<!doctype html>
<title>[BETA] Shuffleboard Rankings</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div class="page container-fluid">
  <div class="row">
    <h2 class="col-md-6 col-sm-12"> Shuffleboard Rankings</h1>
  </div>
  <hr />
  <div>
    <form action="{{ url_for('record_game')}}" method="post" class="form-horizontal">
      <div class="form-group">
        <label class="h4 control-label col-xs-4" for="redScore">Red Score</label>
        <div class="col-xs-3">
            <input type="text" pattern="\d*" class="form-control" id="redScore" name="redScore"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <select class="form-control" name="redPlayer1" required>
            <option value="">--</option>
            {% for player in players %}
              <option value="{{player[0]}}">{{ player[1] }}</option>
            {% endfor %}
          </select>
        </div>
          <div class="col-xs-6">
            <select class="form-control" name="redPlayer2" required>
              <option value="">--</option>
              {% for player in players %}
                <option value="{{player[0]}}">{{ player[1] }}</option>
              {% endfor %}
            </select>
          </div>
      </div>



      <div class="form-group">
        <label class="h4 control-label col-xs-4" for="blueScore">Blue Score</label>
        <div class="col-xs-3">
            <input type="text" pattern="\d*" class="form-control" id="blueScore" name="blueScore"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <select class="form-control" name="bluePlayer1" required>
            <option value="">--</option>
            {% for player in players %}
              <option value="{{player[0]}}">{{ player[1] }}</option>
            {% endfor %}
          </select>
        </div>
          <div class="col-xs-6">
            <select class="form-control" name="bluePlayer2" required>
              <option value="">--</option>
              {% for player in players %}
                <option value="{{player[0]}}">{{ player[1] }}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <input type="submit" class="btn btn-default" value="Lock it in!" />
    </form>
  </div>


  <h3>Leaderboard</h3>
  <div class='row'>
    <div class="col-md-6 col-xs-7">Name</div>
    <div class="col-md-2 col-xs-2">Record</div>
    <!-- <div class="col-md-2 col-xs-3">Rating</div> -->
  </div>
  {% for player in players %}
    <div class='row'>
      <div class="col-md-6 col-xs-7">{{ player[1] }}</div>
      <div class="col-md-2 col-xs-2">{{ player[2] }}-{{ player[3] }}</div>
      <!-- <div class="col-md-2 col-xs-3">{{ player[4] }}</div> -->
    </div>
  {% endfor %}



  <hr />

  <div class="row">
    <div class="col-md-6">
      <form action="{{ url_for('manage_players')}}" method="post" class="add-player form-horizontal">
        <div class="form-group">
          <label class="sr-only" for="newPlayerName">Name</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" size="30" id="newPlayerName" name="name" placeholder="A new challenger approaches"/>
          </div>
          <div class="col-xs-4">
            <input type="submit" class="btn btn-default" value="Add Player" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
